body{
    font-family:'Times New Roman', Times, serif;
}

.header{
    display: flex;
    justify-content: center;
    font-size: 175%;
    font-weight: bold;
    margin-bottom: 30px;
}

.contentContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 125%;
}

.gridContent1,.gridContent2,.gridContent3{
    background-color: rgb(153, 153, 153);
    margin: 10px;
    padding: 10px;
    border: black solid;
    position: relative;
    padding-top: 28px;
}

.gridContent1:hover,.gridContent2:hover,.gridContent3:hover{
    background-color: rgb(138, 136, 136);
    cursor: pointer;
}

.item1,.item2,.item3{
    position: absolute;
    top: -2px;
    right: -1px;
    border: black solid;
    width: 30%;
    text-align: center;
    padding: 2px;
    font-weight: bold;
}

.item1{
    background-color: rgb(213, 152, 152);
}

.item2{
    background-color: rgb(193, 69, 67);
    color: rgb(235, 235, 235);
}

.item3{
    background-color: rgb(229, 209, 152);
}


@media screen and (max-width: 991px){
    .contentContainer{
        grid-template-columns: 1fr 1fr;
    }
    .gridContent3{
        grid-column: 1/4;
    }
}

@media screen and (max-width: 768px){
    .contentContainer div{
        grid-column: 1/4;
    }


}